$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

/* font-family: ‘Lato’, Arial, serif; 
font-weight: 400, 900;

font-family: 'Josefin Slab', serif;
font-weight: 400; */

body {
    font-family: ‘Lato’, Arial, serif;
    height: 100%;
    margin: 0;
    padding: 0;  
}

p {
    color: #333;
}

.header {
    background-color: #333;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    h1 {
        color: #F08;
        float: left;
        font-size: 4em;
        font-weight: 900;
        margin: 0 10% 0 20%;
        padding: 0;
        text-shadow: 0px -2px 1px rgba(0,0,0,0.5);
        
        & span {
            color: #FFF;
            font-family: 'Josefin Slab', serif;
        }
    }

    .wrap-input {
        float: left;
        margin: 20px;
        width: 275px;

        .username-input {
            font-size: 18px;
            float: left;
            margin: 0 10px 0 0;
            height: 30px;

            &:focus {
                outline: none;
                border-color: #F08;
                box-shadow: 0 0 10px #f08;
            }
        }

        .username-button {
            border-radius: 3px;
            border: 1px solid #4C0029;
            background-color: #F08;
            color: #FFF;
            cursor: pointer;
            font-size: 14px;
            margin: 0;
            min-height: 20px;
            padding: 9px;
            text-align: center;

            &:focus {
                outline-color: transparent;
                outline-style: none;
            }

            &:hover {
                background-color: #FF80C4;
                color: #333;
            }

            &:active {
                background-color: #B2005F;
                color: #FFF;
            }
        }
    }
}

.owner-input {
    float: left;
    background-color: #333;
    margin: 100px 10px 0 0;
    height: 200px;
    width: 325px;

    .username-message {
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        height: 100px;
        margin: 20px;
        padding: 10px;
        width: 280px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
               -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                    box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: #F08;
            box-shadow: 0 0 10px #f08;
        }

    }

    .username-message-button {
        border-radius: 3px;
        border: 1px solid #4C0029;
        background-color: #F08;
        color: #FFF;
        cursor: pointer;
        font-size: 14px;
        margin: 0 0 10px 20px;
        min-height: 20px;
        padding: 9px;
        text-align: center;

        &:focus {
            outline-color: transparent;
            outline-style: none;
        }

        &:hover {
            background-color: #FF80C4;
            color: #333;
        }

        &:active {
            background-color: #B2005F;
            color: #FFF;
        }
    }
}

.chat-content {
    float: left;
    background-color: #D6D6D6;
    margin: 100px auto 0;
    height: 600px;
    width: 800px;
    overflow: scroll;

    .users {
        border-bottom: 2px solid #333;
        min-height: 50px;
        position: relative;
        overflow: hidden;

        .userName {
            position: absolute;
            bottom: 0;
            top: 0;
            
            background-color: #F08;
            color: #FFF;
            font-size: 18px;
            font-weight: 900;
            text-align: center;
            line-height: 100px;
            width: 175px;
        }

        .user-messages {
            float: right;
            margin: 0;
            padding: 10px;
            width: 600px;

            p {
                padding-top: 5px;
            }
        }

        .time-stamp {
            color: #333;
            font-size: 10px;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 0;
            width: 110px;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
               -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                    box-sizing: border-box;
        }
    }
}



