$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

body {
    font-family: ‘Lato’, Arial, serif;
    height: 100%;
    margin: 0;
    padding: 0;  
}

p {
    color: #333;
}

.header {
    background-color: #333;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    h1 {
        color: #F08;
        float: left;
        font-size: 4em;
        font-weight: 900;
        margin: 0 10% 0 25%;
        padding: 0;
        text-shadow: 0px -2px 1px rgba(0,0,0,0.5);
        
        span {
            color: #FFF;
            font-family: 'Josefin Slab', serif;
        }
    }

    .wrap-input {
        float: left;
        margin: 20px;
        width: 275px;
        display: none;

        span {
            color: #F08;
        }

        .greeting {
            color: #FFF;
            font-size: 18px;
            display: inline-block;
            margin: 0 10px 0 0;
            padding: 10px;
        }

        .username-input {
            font-size: 18px;
            float: left;
            margin: 0 10px 0 0;
            height: 30px;

            &:focus {
                outline: none;
                border-color: #F08;
                box-shadow: 0 0 10px #f08;
            }
        }

        .username-button {
            border-radius: 3px;
            border: 1px solid #4C0029;
            background-color: #F08;
            color: #FFF;
            cursor: pointer;
            font-size: 14px;
            margin: 0;
            min-height: 20px;
            padding: 9px;
            text-align: center;

            &:focus {
                outline-color: transparent;
                outline-style: none;
            }

            &:hover {
                background-color: #FF80C4;
                color: #333;
            }

            &:active {
                background-color: #B2005F;
                color: #FFF;
            }
        }

        .logout-button {
            float: right;
        }
    }
}

#message-input {
    position: fixed;
    top: 200px;
    left: 0;
    display: none;
    background-color: #333;
    height: 200px;
    width: 300px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    .chat-message {
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        height: 100px;
        margin: 20px;
        padding: 10px;
        width: 250px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
               -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                    box-sizing: border-box;

        &:focus {
            outline: none;
            border-color: #F08;
            box-shadow: 0 0 10px #f08;
        }

    }

    .message-button {
        border-radius: 3px;
        border: 1px solid #4C0029;
        background-color: #F08;
        color: #FFF;
        cursor: pointer;
        font-size: 14px;
        margin: 0 0 0 20px;
        min-height: 20px;
        padding: 9px;
        text-align: center;

        &:focus {
            outline-color: transparent;
            outline-style: none;
        }

        &:hover {
            background-color: #FF80C4;
            color: #333;
        }

        &:active {
            background-color: #B2005F;
            color: #FFF;
        }
    }
}

.chat-content {
    
    background-color: #D6D6D6;
    border-radius: 5px;
    margin: 100px auto 0;
    height: 680px;
    overflow: scroll;
    width: 800px;

    .users {
        border-bottom: 2px solid #333;
        min-height: 50px;
        position: relative;
        overflow: hidden;

        .userName {
            position: absolute;
            bottom: 0;
            top: 0;
            width: 175px;
            padding:5px;
            min-height: 50px;

            background-color: #F08;
            color: #FFF;
            font-size: 14px;
            font-weight: 900;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        .user-messages {
            float: right;
            margin: 0;
            padding: 10px;
            width: 600px;


            p {
                padding-top: 5px;
                word-wrap: break-word;
            }

            img {
                height: auto;
                width: auto;
                max-width: 90%;
            }
        }

        .time-stamp {
            color: #333;
            font-size: 10px;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 0;
            width: 160px;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
               -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                    box-sizing: border-box;
        }
    }
}

